@defer{
<div fadeIn class="welcome-container" >
        <app-main-container>
            <h2 [ngStyle]="{'font-size': '28px'}">Web Personal de Diego Tapia</h2>
            <div class="welcome-background"><br>
                <h3 [ngStyle]="{'font-size': '18px'}">Presentación:</h3>
                <p class="welcome-text">Hola, soy Diego Tapia, ingeniero informático. Esta web es un proyecto Full-Stack que he desarrollado con el propósito 
                    de aumentar mis conocimientos en desarrollo web, específicamente orientados a Angular 17. Incluye información relacionada con mi currículum 
                    vitae, el desarrollo del proyecto en sí, así como enlaces a mis redes sociales.
                </p><br>
                <p class="welcome-text"><span style="color:rgb(215, 83, 83)">(Nota):</span> Por simplicidad he desplegado unicamente la parte Front-End de la web, 
                    podéis consultar el desarrollo Back-End (Correspondiente al registro e inicio de sesiones) en mi GitHub personal. </p><br><br>
            </div>
            
            <app-trailer-video class="video-container"></app-trailer-video>
        </app-main-container>
    </div>
}@loading {
    <h1 class="waitMessaje"> Please wait for charging...</h1>
}