.button-class{
    margin-right:13px;
    margin-bottom:10px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 19.2px;
    border-radius: 20px;
    background: linear-gradient(to right, rgb(30, 32, 32,0.8),rgba(31, 30, 32, 0.6)) !important;  
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
    padding-top: 5px;
    padding-bottom: 5px;
    color:rgb(255, 255, 255);
}

.project-content {
    margin-left: 200px;
    margin-right: 200px;
}

.project-text{
    border-radius: 20px;
    background: linear-gradient(to right, rgb(30, 32, 32,0.8),rgba(31, 30, 32, 0.6)) !important;  
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
    color:rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}

.tittleMax{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(255, 255, 255);
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
    background: linear-gradient(to right, rgb(57, 0, 138),rgba(3, 0, 160, 0.8), rgba(12, 19, 44, 0), rgb(179, 1, 255,0));
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
    padding: 10px;
    border-radius:20px;
    padding: 18px;
    font-size: 40px
}

.tittle{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(255, 255, 255);
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
    background: linear-gradient(to right, rgb(57, 0, 138),rgba(3, 0, 160, 0.8), rgba(12, 19, 44, 0), rgb(179, 1, 255,0));
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
    margin-right: 76%;
    padding: 10px;
    border-radius:20px;
}
.tittleSmart{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(255, 255, 255);
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
    margin-right: 76%;
    padding: 10px;
    border-radius:20px;
}

p, ul{
    margin-left: 40px;
    margin-right: 40px;
}

@media (max-width: 768px) {
    .button-class {
        margin-right: 8px;
        margin-bottom: 8px;
        font-size: 10px;
        background: linear-gradient(to right, rgb(30, 32, 32,0.8),rgba(31, 30, 32, 0.6)) !important;  
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
    padding-top: 5px;
    padding-bottom: 5px;
    color:rgb(255, 255, 255);
    }

    .project-content {
        margin-left: 20px;
        margin-right: 20px;
    }

    .project-text {
        font-size: 12px;
        padding: 10px;
        background: linear-gradient(
            to bottom,
            rgba(76, 80, 76, 0), /* Color en la parte inferior con opacidad 0.8 */
            rgba(47, 48, 47, 0.7), /* Color en la parte superior con opacidad 0.2 */
            rgba(76, 80, 76, 0) /* Color en la parte inferior con opacidad 0.8 */
        );
    }

    .tittle {
        font-size: 16px;
        margin-right: 46%;
    }
    .tittleMax {
        padding-bottom: 20px;
        font-size: 30px
    }

    p, ul {
        margin-left: 10px;
        margin-right: 10px;
    }
}
