<div class="register-container">
    <br><br>
      <div class="registerStyle"><br><br>
          <h2 style="font-family: 'Sixtyfour Convergence', sans-serif;">Registro</h2>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        
        <!-- Nombre -->
        <div class="form-group">
          <label for="name" class="labelclass">Nombre</label><br>
          <input type="text" id="name" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }">
          <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
            <div *ngIf="f['name'].errors['required']">El nombre es obligatorio</div>
            <div *ngIf="f['name'].errors['minlength']">El nombre debe tener al menos 3 caracteres</div>
          </div>
        </div>
        <br>
        <!-- Email -->
        <div class="form-group">
          <label for="email" class="labelclass">Correo Electrónico</label><br>
          <input type="email" id="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
          <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
            <div *ngIf="f['email'].errors['required']">El correo electrónico es obligatorio</div>
            <div *ngIf="f['email'].errors['email']">Correo electrónico inválido</div>
          </div>
        </div>
        <br>
        <!-- Contraseña -->
        <div class="form-group">
          <label for="password" class="labelclass">Contraseña</label><br>
          <input type="password" id="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
          <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
            <div *ngIf="f['password'].errors['required']">La contraseña es obligatoria</div>
            <div *ngIf="f['password'].errors['minlength']">La contraseña debe tener al menos 6 caracteres</div>
          </div>
        </div>
        <br>
    
        <!-- Confirmar Contraseña -->
        <div class="form-group">
          <label for="confirmPassword" class="labelclass">Confirmar Contraseña</label><br>
          <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }">
          <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
            <div *ngIf="f['confirmPassword'].errors['required']">La confirmación de la contraseña es obligatoria</div>
            <div *ngIf="f['confirmPassword'].errors['mustMatch']">Las contraseñas no coinciden</div>
          </div>
        </div>
        <br>
    
        <!-- Botón de Enviar -->
        <div class="form-group">
          <button type="submit" class="button-class">Registrarse</button>
        </div>
    
        <!-- Mensaje de éxito -->
        <div *ngIf="submitted && registerForm.valid" class="alert alert-success">
          ¡Registro exitoso!
        </div>
      </form>
      <br><br>
    </div>
      </div>
      
    