.button-class{
    margin-right:13px;
    margin-bottom:10px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 19.2px;
    border-radius: 20px;
    background: linear-gradient(to right, rgb(30, 32, 32,0.8),rgba(31, 30, 32, 0.6)) !important;  
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
    padding-top: 5px;
    padding-bottom: 5px;
    color:rgb(255, 255, 255);
}

.cv-content {
    margin-left: 200px;
    margin-right: 200px;
}

.cv-text{
    border-radius: 20px;
    background: linear-gradient(to right, rgba(30, 30, 32, 0.8),rgba(30, 30, 32, 0.6)) !important;  
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(255, 255, 255);
    
}

.tittle{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(255, 255, 255);
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
    background: linear-gradient(to right, rgb(57, 0, 138),rgba(3, 0, 160, 0.8), rgba(12, 19, 44, 0), rgb(179, 1, 255,0));
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
    margin-right: 76%;
    padding: 10px;
    border-radius:20px;
}

.tittleFases{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px; 
    color:antiquewhite !important;
    padding-top: 12px;
    padding-bottom: 12px;
    box-sizing: border-box;
}

.boxFase1{
    list-style: none;
    padding: 0;
    background: linear-gradient(
    to right,
    rgba(255, 225, 0, 0.7),  /* Color en la parte inferior con opacidad 0.8 */
    rgba(20, 235, 255, 0), /* Color en la parte superior con opacidad 0.2 */
    );
    padding-bottom: 0%;
    border-radius: 30px; 
}

.boxFase2{
    list-style: none;
    padding: 0;
    background: linear-gradient(
    to right,
    rgba(255, 51, 0, 0.7),  /* Color en la parte inferior con opacidad 0.8 */
    rgba(20, 235, 255, 0), /* Color en la parte superior con opacidad 0.2 */
    );
    padding-bottom: 0%;
    border-radius: 30px; 
}

.boxFase3{
    list-style: none;
    padding: 0;
    background: linear-gradient(
    to right,
    rgba(191, 0, 255, 0.7),  /* Color en la parte inferior con opacidad 0.8 */
    rgba(20, 235, 255, 0), /* Color en la parte superior con opacidad 0.2 */
    );
    padding-bottom: 0%;
    border-radius: 30px; 
}

.boxFase4{
    list-style: none;
    padding: 0;
    background: linear-gradient(
    to right,
    rgba(30, 0, 255, 0.7),  /* Color en la parte inferior con opacidad 0.8 */
    rgba(20, 235, 255, 0), /* Color en la parte superior con opacidad 0.2 */
    );
    padding-bottom: 0%;
    border-radius: 30px; 
}

.boxFase5{
    list-style: none;
    padding: 0;
    background: linear-gradient(
    to right,
    rgba(0, 255, 217, 0.7),  /* Color en la parte inferior con opacidad 0.8 */
    rgba(20, 235, 255, 0), /* Color en la parte superior con opacidad 0.2 */
    );
    padding-bottom: 0%;
    border-radius: 30px; 
}

.boxFase6{
    list-style: none;
    padding: 0;
    background: linear-gradient(
    to right,
    rgba(0, 255, 68, 0.7),  /* Color en la parte inferior con opacidad 0.8 */
    rgba(20, 235, 255, 0), /* Color en la parte superior con opacidad 0.2 */
    );
    padding-bottom: 0%;
    border-radius: 30px; 
}
p, ul{
    margin-left: 40px;
    margin-right: 40px;
}

.pdf{
    margin-left:40px;
}


@media (max-width: 768px) {
    .button-class {
        margin-right: 8px;
        margin-bottom: 5px;
        font-size: 10px;
        background-color: rgba(60, 60, 60, 0.5);
    }

    .cv-content {
        margin-left: 20px;
        margin-right: 20px;
    }

    .cv-text {
        font-size: 14px;
        padding: 10px;
    }

    .tittle {
        font-size: 20px;
        margin-right: 42%;
    }

    .tittleFases {
        font-size: 18px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .boxFase1, .boxFase2, .boxFase3, .boxFase4, .boxFase5, .boxFase6 {
        padding: 5px;
        border-radius: 15px;
    }

    p, ul {
        margin-left: 10px;
        margin-right: 10px;
    }

    .pdf {
        margin-left: 10px;
        margin-right: 10px;
    }
}

