 .main-container{
    display:flex;
    gap: 2rem;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
    height: 20vh;
    min-height: 300px;
        
 }

 .font-sixtyfour {
   font-family: "Sixtyfour Convergence", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   font-variation-settings:
       "BLED" 0,
       "SCAN" 0,
       "XELA" 0,
       "YELA" 0;
 }