  .custom-menu {
    margin-top: 15px;
    background-color: rgba(0, 2, 0,0) !important; /* Negro con 50% de transparencia */
    background: linear-gradient(to bottom, rgb(30, 32, 32),rgb(30, 32, 32,0.6)) !important;  
    
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
  }

  .custom-menu-user {
    margin-top: 15px;
    background-color: rgba(0, 2, 0,0) !important; /* Negro con 50% de transparencia */
    background: linear-gradient(to bottom, rgba(94, 1, 215, 0.7),rgb(179, 1, 255,0.6)) !important;  
    
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
  }
  
  .red-icon {
    color: rgb(255, 255, 255) !important; /* Cambia el color de los iconos a rojo */
  }
  
  .red-text {
    font-size: 12px;
    color: rgb(255, 255, 255); /* Cambia el color del texto a rojo */
  }